body {
  font-family: 'Lato', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
  }
}

.filters {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: $color-white;
  padding: 10px;
}

.grid-item {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  height: 25vh;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  position: relative;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 30%;
  }
}

.color-5c6bc0 {
  background-color: #5C6BC0;
}

.color-7E57C2 {
  background-color: #7E57C2;
}

.color-536DFE {
  background-color: #536DFE;
}

.color-FF7043 {
  background-color: #FF7043;
}

.color-78909C {
  background-color: #78909C;
}

.color-fBA68C8 {
  background-color: #BA68C8;
}

.color-00796B {
  background-color: #00796B;
}

.color-FF8F00 {
  background-color: #FF8F00;
}

.color-795548 {
  background-color: #795548;
}

.color-607D8B {
  background-color: #607D8B;
}

.color-0277BD {
  background-color: #0277BD;
}

.color-6A1B9A {
  background-color: #6A1B9A;
}

.color-2979FF {
  background-color: #2979FF;
}

.color-F57C00 {
  background-color: #F57C00
}

.color-FFD180 {
  background-color: #FFD180;
}

.color-424242 {
  background-color: #424242;
}

.color-FF9E80 {
  background-color: #FF9E80;
}

.color-607D8B {
  background-color: #607D8B;
}

.color-455A64 {
  background-color: #455A64;
}

.color-FF8A65 {
  background-color: #FF8A65;
}

.color-558B2F {
  background-color: #558B2F;
}

.color-0277BD {
  background-color: #0277BD;
}

.color-880E4F {
  background-color: #880E4F;
}

.color-1A237E {
  background-color: #1A237E;
}

.color-FF9800 {
  background-color: #FF9800;
}

.color-263238 {
  background-color: #263238;
}

.color-33691E {
  background-color: #33691E;
}

.color-311B92 {
  background-color: #311B92;
}

.color-880E4F {
  background-color: #880E4F;
}

.color-303F9F {
  background-color: #303F9F;
}
