<section class="product-list">
    <div class="product-list__filtration">
        <div class="product-list__filtration-genre">
            <a href="#">
                <span>Genres</span>
            </a>
        </div>
        <div class="product-list__filtration-label">
            <a href="#">
                <span>Labels</span>
            </a>
        </div>
    </div>
    <div class="product-list__grid">
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
    </div>
</section>

<section class="filters" id="filters">
    Such filters woah

    <div class="filter-item">filter item</div>
</section>
