<section class="product-list">
    <div class="product-list__filtration">
        <div class="product-list__filtration-genre">
            <a href="#">
                <span>Genres</span>
            </a>
        </div>
        <div class="product-list__filtration-label">
            <a href="#">
                <span>Labels</span>
            </a>
        </div>
    </div>
    <div class="product-list__grid">
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
        <div class="product-list__grid-item">
            <span class="author">Aerosmith</span>
            <img src="/img/audio-casette.png" alt="Aerosmit – Permanent Vacation">
            <span class="title">Permanent Vacation</span>
            <span class="price">$7.99</span>
        </div>
    </div>
</section>

<section class="filters" id="filters">
    <div class="grid-container">
        <div class="grid-item color-5C6BC0" ><img src="/img/80's.svg" alt="80's logo">80's</div>
        <div class="grid-item color-7E57C2"> <img src="/img/90's.svg" alt="80's logo"> 90's</div>
        <div class="grid-item color-536DFE"> <img src="/img/Acoustic.svg" alt="Acoustic logo">Acoustic</div>
        <div class="grid-item color-FF7043"> <img src="/img/blues.svg" alt="blues logo">Blues</div>
        <div class="grid-item color-78909C"> <img src="/img/childrens_music.svg" alt="Children's music logo">Children's music</div>
        <div class="grid-item color-BA68C8"> <img src="/img/chill_out.svg" alt="Chill out logo"> Chill out</div>
        <div class="grid-item color-00796B"> <img src="/img/christmas_carols.svg" alt="Christmas Carols logo"> Christmas Carols</div>
        <div class="grid-item color-FF8F00"> <img src="/img/clasical.svg" alt="Classical music logo">Classical</div>
        <div class="grid-item color-795548"><img src="/img/country.svg" alt="Country music logo">Country</div>
        <div class="grid-item color-607D8B"><img src="/img/disco.svg" alt="Disco music logo">Disco</div>
        <div class="grid-item color-0277BD"><img src="/img/edm.svg" alt="edm music logo">Edm</div>
        <div class="grid-item color-6A1B9A"><img src="/img/ethnic.svg" alt="Ethnic music logo">Ethnic</div>
        <div class="grid-item color-2979FF"><img src="/img/Excercise.svg" alt="Excercise music logo">Excercise</div>
        <div class="grid-item color-F57C00"><img src="/img/gospel.svg" alt="Gospelc music logo">Gospelc</div>
        <div class="grid-item color-FFD180"><img src="/img/Hip_hop.svg" alt="Hip_hop music logo">Hip_hop</div>
        <div class="grid-item color-424242"><img src="/img/Hippie.svg" alt="Hippie music logo">Hippie</div>
        <div class="grid-item color-FF9E80"><img src="/img/Indie.svg" alt="Indie music logo">Indie</div>
        <div class="grid-item color-607D8B"><img src="/img/Jazz.svg" alt="Jazz music logo">Jazz</div>
        <div class="grid-item color-455A64"><img src="/img/K-pop.svg" alt="JK-pop music logo">K-pop</div>
        <div class="grid-item color-FF8A65"><img src="/img/Latin.svg" alt="Latin music logo">Latin</div>
        <div class="grid-item color-558B2F"><img src="/img/Metal.svg" alt="Metal music logo">Metal</div>
        <div class="grid-item color-0277BD"><img src="/img/Pop.svg" alt="Pop music logo">Pop</div>
        <div class="grid-item color-880E4F"><img src="/img/Punk.svg" alt="Punk music logo">Punk</div>
        <div class="grid-item color-1A237E"><img src="/img/R&B.svg" alt="R&B music logo">R&B</div>
        <div class="grid-item color-FF9800"><img src="/img/Reggae.svg" alt="Reggae music logo">Reggae</div>
        <div class="grid-item color-263238"><img src="/img/Rock.svg" alt="Rock music logo">Rock</div>
        <div class="grid-item color-33691E"><img src="/img/Romantic.svg" alt="Romantic music logo">Romantic</div>
        <div class="grid-item color-311B92"><img src="/img/Tango.svg" alt="Tango music logo">Tango</div>
        <div class="grid-item color-880E4F"><img src="/img/Trending.svg" alt="Trending music logo">Trending</div>
        <div class="grid-item color-303F9F"><img src="/img/Vocal.svg" alt="Vocal music logo">Vocal</div>
    </div>
</section>
