<section class="product-list">
    <div class="product-list__filtration">
        <div class="product-list__filtration-genre">
            <a href="#">
                <span>Genres</span>
            </a>
        </div>
        <div class="product-list__filtration-label">
            <a href="#">
                <span>Labels</span>
            </a>
        </div>
    </div>
    <div class="product-list__grid">
        <div class="product-list__grid-item">
            <span>Aerosmith 1</span>
            <span></span>
        </div>
        <div class="product-list__grid-item">
            Aerosmith 2
        </div>
        <div class="product-list__grid-item">
            Aerosmith
        </div>
        <div class="product-list__grid-item">
            Aerosmith
        </div>
        <div class="product-list__grid-item">
            Aerosmith
        </div>
        <div class="product-list__grid-item">
            Aerosmith
        </div>
    </div>
</section>
